<div class="row">
	<h3 align="center">{{'ODDS' | translate}}</h3>
</div>

<div class="row">

	<div class="col-md-4">

		<section class="tile bg-slategray" fullscreen="isFullscreen02"
			id="sectionUnder" style="max-height: 320px; overflow: auto;"
			slimscroll="{height: '100%'}">

			<!-- tile header -->
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>{{'FINAL.RESULT' | translate}} </strong>
				</h1>
				<ul class="controls">
					<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
						href uib-dropdown-toggle class="dropdown-toggle settings"> <i
							class="fa fa-cog" />
					</a>

						<ul
							class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
							<li><a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down" />&nbsp;&nbsp;&nbsp;Minimize
								</span> <span class="expand"> <fa name="angle-up" />&nbsp;&nbsp;&nbsp;Expand
								</span>
							</a></li>
							<li><a href tile-control-refresh ng-click="ajaxFaker()">
									<fa name="refresh" /> Refresh
							</a></li>
							<li><a href tile-control-fullscreen
								ng-click="isFullscreen02 = !isFullscreen02"> <fa
										name="expand" /> Fullscreen
							</a></li>
							<li><a href tile-control-lightbox> <fa name="magnet" />
									Open in Lightbox
							</a></li>

						</ul></li>
					<li class="remove"><a href tile-control-close> <i
							class="fa fa-times" />
					</a></li>
				</ul>
			</div>
			<!-- /tile header -->
			<div class="row">
				<div class="col-md-6">
					<p class="text-center">
						<small>{{'BOOKMAKER' | translate}}</small>
					</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'001_1.SHORT' | translate}}</small>
					</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'002_X.SHORT' | translate}}</small>
					</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'003_2.SHORT' | translate}}</small>
					</p>
				</div>
			</div>
			<div class="row" ng-repeat="odd in odds">
				<div ng-show="odd.betType == '1X2'">
					<div class="col-md-6">
						<p class="text-center">
							<small>{{odd.bookmaker}}</small>
						</p>
					</div>
					<div class="col-md-2">
						<p class="text-center">
							<small>{{odd.home}}</small>
						</p>
					</div>
					<div class="col-md-2">
						<p class="text-center">
							<small>{{odd.draw}}</small>
						</p>
					</div>
					<div class="col-md-2">
						<p class="text-center">

							<small>{{odd.away}}</small>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>

	<div class="col-md-4">

		<section class="tile bg-slategray" fullscreen="isFullscreen02"
			id="sectionUnder" style="max-height: 320px; overflow: auto;"
			slimscroll="{height: '100%'}">

			<!-- tile header -->
			<div class="tile-header dvd dvd-btm">
				<h1 class="custom-font">
					<strong>{{'UNDER' | translate}} / {{'OVER' | translate}}</strong>
				</h1>
				<ul class="controls">
					<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
						href uib-dropdown-toggle class="dropdown-toggle settings"> <i
							class="fa fa-cog" />
					</a>

						<ul
							class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
							<li><a href tile-control-toggle> <span class="minimize">
										<fa name="angle-down" />&nbsp;&nbsp;&nbsp;Minimize
								</span> <span class="expand"> <fa name="angle-up" />&nbsp;&nbsp;&nbsp;Expand
								</span>
							</a></li>
							<li><a href tile-control-refresh ng-click="ajaxFaker()">
									<fa name="refresh" /> Refresh
							</a></li>
							<li><a href tile-control-fullscreen
								ng-click="isFullscreen02 = !isFullscreen02"> <fa
										name="expand" /> Fullscreen
							</a></li>
							<li><a href tile-control-lightbox> <fa name="magnet" />
									Open in Lightbox
							</a></li>

						</ul></li>
					<li class="remove"><a href tile-control-close> <i
							class="fa fa-times" />
					</a></li>
				</ul>
			</div>
			<!-- /tile header -->

			<div class="row">
				<div class="col-md-6">
					<p class="text-center">
						<small>{{'BOOKMAKER' | translate}}</small>
					</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'HANDICAP' | translate}}</small>
					</p>
				</div>
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'001_1.SHORT' | translate}}</small>
					</p>
				</div>
				
				<div class="col-md-2">
					<p class="text-center">
						<small>{{'003_2.SHORT' | translate}}</small>
					</p>
				</div>
			</div>
			<div class="row" ng-repeat="odd in odds">
				<div ng-show="odd.betType == 'Over/Under'">
					<div class="col-md-6">
						<p class="text-center">
							<small>{{odd.bookmaker}}</small>
						</p>
					</div>
					
					<div class="col-md-2">
						<p class="text-center">
							<small>{{odd.oddHandicap}}</small>
						</p>
					</div>
					<div class="col-md-2">
						<p class="text-center">
							<small>{{odd.home}}</small>
						</p>
					</div>
					<div class="col-md-2">
						<p class="text-center">
							<small>{{odd.away}}</small>
						</p>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

