<section class="tile" fullscreen="isFullscreen01">
	<div class="tile-header dvd dvd-btm">
		<h1 class="custom-font">
			<strong>{{'Account.STATS' | translate}}</strong>
		</h1>
		<ul class="controls">
			<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
				href uib-dropdown-toggle class="dropdown-toggle settings"><i
					class="fa fa-cog"></i></a>
				<ul
					class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
					<li><a href tile-control-toggle> <span class="minimize"><fa
									name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
							class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
					</a></li>
					<li><a href tile-control-refresh ng-click="ajaxFaker()"> <fa
								name="refresh"></fa> Refresh
					</a></li>
					<li><a href tile-control-fullscreen
						ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa>
							Fullscreen
					</a></li>
					<li><a href tile-control-lightbox> <fa name="magnet"></fa>
							Open in Lightbox
					</a></li>
				</ul></li>
			<li class="remove"><a><i class="fa fa-times"></i></a></li>
		</ul>
	</div>
	<div>
		<div class="tile-widget"></div>
		<!-- /tile widget -->

		<!-- tile body -->
		<div class="tile-body">

			<div morris-line-chart line-data='account.accountStats' line-xkey='logDate'
	line-ykeys='["amount"]' line-labels='["Amount"]'
	line-colors='["#16a085"]' ></div>
		</div>
		<div class="tile-footer">
			
		</div>
	</div>
</section>


