<section class="tile" fullscreen="isFullscreen01" style="max-height: 300px;overflow:auto;height: 300px;" slimscroll="{height: '100%'}">
	<div class="tile-header dvd dvd-btm">
		<h1 class="custom-font">
			<strong>{{'Account.CREATE_BET' | translate}}</strong>
		</h1>
		<ul class="controls">
			<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
				href uib-dropdown-toggle class="dropdown-toggle settings"><i
					class="fa fa-cog"></i></a>
				<ul
					class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
					<li><a href tile-control-toggle> <span class="minimize"><fa
									name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
							class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
					</a></li>
					<li><a href tile-control-refresh ng-click="ajaxFaker()"> <fa
								name="refresh"></fa> Refresh
					</a></li>
					<li><a href tile-control-fullscreen
						ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa>
							Fullscreen
					</a></li>
					<li><a href tile-control-lightbox> <fa name="magnet"></fa>
							Open in Lightbox
					</a></li>
				</ul></li>
			<li class="remove"><a><i class="fa fa-times"></i></a></li>
		</ul>
	</div>
	<div>
		<div class="tile-widget"></div>
		<!-- /tile widget -->

		<!-- tile body -->
		<div class="tile-body">
			<div class="row">
				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Bet.INSERT_EVENT_DESCRIPTION'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="bet.eventDescription" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Bet.INSERT_BETTYPE_DESCRIPTION'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="bet.bettypeDescription" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Bet.INSERT_AMOUNT'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="bet.amount" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Bet.INSERT_MOLTIPLICATOR'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="bet.moltiplicator" maxlength="10" required>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-12"></div>
				</div>
			</div>

		</div>
		<div class="tile-footer">
			<button type="button" class="btn btn-success"
				ng-click="addBet(bet.eventDescription,bet.bettypeDescription,bet.amount,bet.moltiplicator)">{{'SUBMIT'
				| translate}}</button>
		</div>
	</div>
</section>
