<section class="tile" fullscreen="isFullscreen01"
	ng-if="selectedProspect == null">
	<div class="tile-header dvd dvd-btm">
		<h1 class="custom-font">
			<strong>{{'Account.CREATE_PROSPECT' | translate}}</strong>
		</h1>
		<ul class="controls">
			<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
				href uib-dropdown-toggle class="dropdown-toggle settings"><i
					class="fa fa-cog"></i></a>
				<ul
					class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
					<li><a href tile-control-toggle> <span class="minimize"><fa
									name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
							class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
					</a></li>
					<li><a href tile-control-refresh ng-click="ajaxFaker()"> <fa
								name="refresh"></fa> Refresh
					</a></li>
					<li><a href tile-control-fullscreen
						ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa>
							Fullscreen
					</a></li>
					<li><a href tile-control-lightbox> <fa name="magnet"></fa>
							Open in Lightbox
					</a></li>
				</ul></li>
			<li class="remove"><a><i class="fa fa-times"></i></a></li>
		</ul>
	</div>
	<div>
		<div class="tile-widget"></div>
		<!-- /tile widget -->

		<!-- tile body -->
		<div class="tile-body">
			<div class="row">


				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Prospect.INSERT_NAME'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="prospect.name" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Prospect.INSERT_INITIAL_AMOUNT'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="prospect.initialAmount" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Prospect.INSERT_DURATION'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="prospect.duration" maxlength="30" required>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-8 control-label">{{'Prospect.INSERT_DAILY_PERCENTAGE_EXPECTED'
						| translate}}</label>
					<div class="col-sm-4">
						<input type="text" name="fc6" class="form-control"
							ng-model="prospect.dailyPercentageExpected" maxlength="10"
							required>
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-12"></div>
				</div>
			</div>

		</div>
		<div class="tile-footer">
			<button type="button" class="btn btn-success"
				ng-if="selectedProspect == null"
				ng-click="addProspect(prospect.name,prospect.initialAmount,prospect.duration,prospect.dailyPercentageExpected)">{{'SUBMIT'
				| translate}}</button>
		</div>
	</div>
</section>

<section class="tile" fullscreen="isFullscreen01"
	ng-if="selectedProspect != null">
	<div class="tile-header dvd dvd-btm">
		<h1 class="custom-font">
			<strong>{{'Account.MY_PROSPECT' | translate}}</strong>
		</h1>
		<ul class="controls">
			<li class="dropdown" uib-dropdown on-toggle="toggled(open)"><a
				href uib-dropdown-toggle class="dropdown-toggle settings"><i
					class="fa fa-cog"></i></a>
				<ul
					class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
					<li><a href tile-control-toggle> <span class="minimize"><fa
									name="angle-down"></fa>&nbsp;&nbsp;&nbsp;Minimize</span> <span
							class="expand"><fa name="angle-up"></fa>&nbsp;&nbsp;&nbsp;Expand</span>
					</a></li>
					<li><a href tile-control-refresh ng-click="ajaxFaker()"> <fa
								name="refresh"></fa> Refresh
					</a></li>
					<li><a href tile-control-fullscreen
						ng-click="isFullscreen01 = !isFullscreen01"> <fa name="expand"></fa>
							Fullscreen
					</a></li>
					<li><a href tile-control-lightbox> <fa name="magnet"></fa>
							Open in Lightbox
					</a></li>
				</ul></li>
			<li class="remove"><a><i class="fa fa-times"></i></a></li>
		</ul>
	</div>
	<div>
		<div class="tile-widget"></div>
		<!-- /tile widget -->

		<!-- tile body -->
		<div class="tile-body">
			<div class="row">


				<table class="table table-hover">
					<thead>
						<tr>
							<th><h5>{{'Prospect.ID' | translate}}</h5></th>
							<th><h5>{{'Prospect.START_DATE' | translate}}</h5></th>
							<th><h5>{{'Prospect.END_DATE' | translate}}</h5></th>
							<th><h5>{{'Prospect.DURATION' | translate}}</h5></th>
							<th><h5>{{'Prospect.EXPECTED_GOAL' | translate}}</h5></th>
							<th><h5>{{'Prospect.LIVE_AMOUNT' | translate}}</h5></th>
							<th><h5>{{'Prospect.PUSH_POP' | translate}}</h5></th>
						</tr>
					</thead>
					<tbody>
						<tr
							ng-repeat="prospectElement in selectedProspect.prospectElements">
							<td><h5>
									<span ng-if="currentTimeInMillis >= prospectElement.endDate"
										class="badge bg-greensea">{{prospectElement.incremental}}</span>
										<span ng-if="prospectElement.startDate <= currentTimeInMillis && currentTimeInMillis <= prospectElement.endDate"
										class="badge bg-yellow">{{prospectElement.incremental}}</span>
								</h5></td>
							<td><h5>{{prospectElement.startDate | date :
									'dd/MM/yyyy HH:mm:ss'}}</h5></td>
							<td><h5>{{prospectElement.endDate | date : 'dd/MM/yyyy HH:mm:ss'}}</h5></td>

							<td
								ng-if="prospectElement.liveAmount != null  && prospectElement.startDate <= currentTimeInMillis && currentTimeInMillis <= prospectElement.endDate"><h5>{{'Prospect.IN_PROGRESS'
									| translate}}</h5></td>
							<td
								ng-if="prospectElement.liveAmount != null  && currentTimeInMillis >= prospectElement.endDate"><h5>{{dayDiff(prospectElement.endDate,prospectElement.startDate)
									}}</h5></td>
							<td ng-if="prospectElement.liveAmount == null"></td>
							<td><h5>{{prospectElement.expectedGoal}}</h5></td>
							<td><h5>{{prospectElement.liveAmount}}</h5></td>
							<td><h5>

									<button type="button"
										ng-if="prospectElement.liveAmount >= prospectElement.expectedGoal && prospectElement.startDate <= currentTimeInMillis && currentTimeInMillis <= prospectElement.endDate"
										class="btn btn-xs btn-success"
										ng-click="pushProspectElement(selectedProspect.name,prospectElement.incremental)">{{'Prospect.PUSH'
										| translate}}</button>
									<button type="button"
										ng-if="prospectElement.liveAmount <= prospectElement.previousExpectedGoal && prospectElement.startDate <= currentTimeInMillis && currentTimeInMillis <= prospectElement.endDate"
										class="btn btn-xs btn-danger"
										ng-click="popProspectElement(selectedProspect.name,prospectElement.incremental)">{{'Prospect.POP'
										| translate}}</button>
								</h5></td>

						</tr>
					</tbody>
				</table>
			</div>

		</div>
		<div class="tile-footer"></div>
	</div>
</section>